<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="evolution.mybatis.XmlMapper">
	<resultMap id="anyResultMap" type="java.util.Map">
		<id property="id" column="id" />
		<result property="name" column="name" />
	</resultMap>
	<select id="selectMaps" resultMap="anyResultMap">
		select * from any_table
	</select>
	<select id="selectAllStudents" resultType="Student">
		select * from any_table
	</select>
	<insert id="insert" parameterType="Student">
		insert into any_table(name) values(#{name})
	</insert>
	<insert id="create">
		create table if not exists any_table(id int primary key auto_increment, name varchar(10))
	</insert>
</mapper>